@import "../settings/variables";

.about {

    font-family: $font-cormorant;


    &__container {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }

    &__title {
        margin: 20px;
        text-align: center;
        font-size: $font-size--heading
        //display: flex;
        //justify-content: center;
        //align-items: center;
    }

    &__content {
        justify-content: center;

    }

    &__img {
        background-image: url("https://images.pexels.com/photos/3294248/pexels-photo-3294248.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 360px;
        min-height: 50vh;
    }

    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        font-size: 1.3em;
    }
}