@import "../settings/variables";

.singleCard {
    font-size: 1.3em;

    &__container {
        margin-top: 40px;
        padding: 40px;
    }

    &__header {}

    &__icon {
        object-fit: contain;
        transition: all 0.5s;
        min-height: 100px;
        min-width: 100px;
    }

    &__name {
        span {
            font-weight: 600;
        }
    }

    &__description {
        line-height: 1.7em;
        padding: 0 60px;
    }
}

.addFavoriteBtn {
    &:hover {
        svg {
            transition: 0.5s;
            fill: red;
        }
    }

    &:active {
        svg {
            transition: 0.5s;
            fill: red;
        }
    }
}

.bi.bi-heart {
    margin-right: 5px;
}