@import "../settings/variables";

.animalsList {

    &__container {
        margin-top: 40px;
    }

    &__title {
        text-align: center;
        margin: 20px;
        font-size: 1.875em;
        text-transform: capitalize;
    }

    &__list {
        list-style-type: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: fit-content;

        @media (max-width: 993px) {
            flex-direction: row;
        }

        &-el {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: none;
            margin-right: 5px;
            margin-bottom: 5px;
        }

        &-avatar {
            object-fit: cover;
            transition: all 0.5s;
            min-height: 100px;
            min-width: 100px;
        }
    }
}

.list-group-item {
    padding: 0.5em 1em;
    background-color: transparent;
}

.h6 {
    color: $color-text;
    font-size: 1.3em;

    &:hover {
        color: rgba(0, 0, 0, 0.9);
        text-decoration: none;
        text-shadow: 3px 0 5px #b0b5b9;
    }
}
