@import "../settings/variables";

.singleCard {
    font-size: 1.3em;

    &__container {
        margin-top: 40px;
        padding: 40px;
    }

    &__header {}

    &__icon {
        object-fit: contain;
        transition: all 0.5s;
        min-height: 100px;
        min-width: 100px;
    }

    &__name {}

    &__description {}
}


.addFavoriteBtn {}

.bi.bi-heart {
    margin-right: 5px;
}