@import "../settings/variables";

.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;

    &__container {
        display: flex;
        align-items: center;
    }
}

.home__button {
    background-color: $color-paw;
    border-radius: $images-radius;
}
