@import "../settings/variables";

* {
    box-sizing: border-box;
}

html {
    @media (max-width: 500px) {
        font-size: 75%
    }
}

body {
    min-width: 420px;
    font-family: "Cormorant", sans-serif;
    color: $color-text;
}

h1 {
    @media (max-width: 500px) {
        font-size: 75%
    }
}

.container {
    width: 1440px;
    margin: 0 auto;
    box-shadow: 7px 6px 18px 0 grey;
    border: 1px solid $color-creme;
}