@import "../settings/variables";

.header {
    border-bottom: 3px solid rgba(141, 133, 133, 0.38);
    border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
    box-shadow: 3px 1px 20px 0px grey;


    &__container {
        box-shadow: none;
        border: none;
        background-image: none;
    }
}

.logo {
    font-family: "Cormorant", sans-serif;
    color: $color-darker-title;
    font-size: 3.125em;
    text-shadow: 2px 2px 5px #575555;
    margin-right: 50px
}

.bi.bi-person-fill {
    fill: #6c757d;
    margin-right: 10px
}

.mr-auto {
    color: #575555;
    font-weight: 600;
    font-size: 1.5625em;
    font-family: $font-cormorant;
}

.navbar {
    z-index: 5;
    background-color: white;
}
.nav-item {
    list-style: none;
}

.navbar-light .navbar-text a {
    color: white
}
