.hero {
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/909916/pexels-photo-909916.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 90px;
        bottom: 0;
    }
}

// ----- HEADER -----
.header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 90px;
    background: rgba(245, 245, 245, 0.27);
    border-bottom: 1px solid rgba(112, 105, 105, 0.56);

    &__container {}
}

.logo {}

.menu {

    &__link {

        &-el {}
    }
}

// ----- BANNER -----
.banner {

    &__container {}
}