@import "../settings/variables";

.login {
    &__container {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        padding: 40px;
        font-family: $font-cormorant;
    }
}