@import "../settings/variables";

.userPanel {

    &__container {
        margin-top: 40px;
        font-size: $font-size--text;
        width: 80%;
        padding: 40px;
    }

    &__welcome {
        text-align: center;
        margin: 20px;
        font-size: $font-size--heading;
    }
}

.panel {

    &__title {
        text-align: center;
        border-bottom: 1px solid rgba(171, 105, 110, 0.37);
    }

    &__content {
        padding: 20px;
    }
}

.row-cols-12 {
    margin-bottom: 30px;
}

.userDetails__list {
    list-style-type: none;

    &-el {}
}

.favoriteList {

    &__list {

        &-el {}

        &-avatar {
            object-fit: cover;
            min-height: 100px;
            min-width: 100px;
        }

        &-name {
            padding-left: 10px;

            &:hover {
                color: rgba(0, 0, 0, 0.9);
                text-shadow: 3px 0 5px #b0b5b9;
            }
        }
    }
}