@import "variables";
// Option B: Include parts of Bootstrap

// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";


// Customize - my changes in bootstrap style


/* $theme-colors: (
        "primary": #ab696e,
        "secondary": #ab696e,
); */

.btn-primary,
.btn-secondary {}


$font-family-base: "Cormorant", sans-serif;

$enable-rounded: true;
$enable-responsive-font-sizes: true;


%scope {
    @import "~bootstrap/scss/variables";

    $body-bg: black;

    @debug $body-bg
}

@debug $body-bg;
@import "node_modules/bootstrap/scss/bootstrap";