// ----- COLORS -----
$color-title: #6D6D6D;
$color-text: #8D8585;

$color-light: #FFFBFB;
$color-creme: #e1dad9;
$color-darker-title: #575555;
$color-paw: #AB696E;


// ----- FONTS -----

// 300 - 700 + italic
$font-cormorant: "Cormorant", sans-serif;

$font-size--logo: 3.125em;
$font-size--heading: 1.875em;
$font-size--text: 1.5625em;


// ----- OTHERS -----
$images-radius: 10px;