//settings
@import "settings/variables";
@import "settings/normalize";
@import "settings/print";

//partials
@import 'components/hero'; // with header and banner
@import "components/about";
@import "components/footer";



* {
    box-sizing: border-box;
}

body {
    font-family: $font-cormorant;
}

.container {
    width: 1440px;
    margin: 0 auto;
}